/* General */
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

/* Botones */
button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
#post
{
    background: white;
    padding: 1em;
}

button:hover {
    background-color: #87cefa;
    transform: scale(1.1);
}

button:active {
    background-color: #1e90ff;
    transform: scale(1);
}

/* Botón "No" */
#noBtn {
    position: relative;
}

/* Confirmación */
#mensaje {
    display: none;
    margin-top: 20px;
}

#mensaje textarea {
    width: 80%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
